body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #dbdfe5;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%2394abd9' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  margin: 1.5rem auto;
  max-width: 480px;
  border: 0.5px solid black;
}

.cell {
  border: 0.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:nth-child(16n + 1),
.cell:nth-child(16n + 3),
.cell:nth-child(16n + 5),
.cell:nth-child(16n + 7),
.cell:nth-child(16n + 10),
.cell:nth-child(16n + 12),
.cell:nth-child(16n + 14),
.cell:nth-child(16n) {
  background: tan;
}

.cell:nth-child(16n + 2),
.cell:nth-child(16n + 4),
.cell:nth-child(16n + 6),
.cell:nth-child(16n + 8),
.cell:nth-child(16n + 9),
.cell:nth-child(16n + 11),
.cell:nth-child(16n + 13),
.cell:nth-child(16n + 15) {
  background: rgb(255, 243, 216);
}

.marker {
  padding: 15px;
  border: 6px solid transparent;
  border-radius: 50%;
  position: relative;
}

.Red {
  background-color: red;
  border: 6px solid rgb(187, 0, 0);
  box-shadow: 4px 3px 3px -2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.Black {
  background-color: rgb(48, 47, 47);
  border: 6px solid black;
  box-shadow: 4px 3px 3px -2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.move-option {
  box-shadow: 0 0 5px 5px rgb(121, 106, 255);
}

.highlight {
  box-shadow: 0 0 5px 5px green;
  cursor: pointer;
}

.king::after {
  content: "👑";
  position: absolute;
  top: 6px;
  right: 4px;
}

.game-details {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 1rem auto;
}

.game-details .marker {
  padding: 15px 21px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.game-message {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}